openapi: 3.0.1
info:
  title: Interview Practice API Docs
  version: "1.0.0"
  description: Custom API documentation using swagger.yml file

paths:
  # Product Controller
  /api/allProducts:
    get:
      tags: [ product-controller ]
      summary: Get All Products
      description: Fetch list of products
      responses:
        "200":
          description: List fetched successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProductResponse"

  /api/createProducts:
    post:
      tags: [ product-controller ]
      summary: Add Product
      description: Add new product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductRequest"
            example:
              name: "Laptop"
              description: "High performance laptop"
              price: 49999.99
              quantity: 10
      responses:
        "201":
          description: Product created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"

  /api/updateProduct:
    post:
      tags: [ product-controller ]
      summary: Update Product
      description: Update product by ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductRequest"
            example:
              id: 1
              name: "Laptop"
              description: "High performance laptop"
              price: 49999.99
              quantity: 10
      responses:
        "200":
          description: Product updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"

  /api/productBy/{id}:
    get:
      tags: [ product-controller ]
      summary: Get Product Details
      description: Fetch product by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"

  /api/deleteProduct/{id}:
    delete:
      tags: [ product-controller ]
      summary: Delete Product
      description: Delete product by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Product deleted successfully

  # User Controller
  /api/allUsers:
    get:
      tags: [ user-controller ]
      summary: Get All Users
      description: Fetch all users
      responses:
        "200":
          description: List fetched successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserResponse"

  /api/createUsers:
    post:
      tags: [ user-controller ]
      summary: Create User
      description: Create new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRequest"
            example:
              name: "John Doe"
              email: "john.doe@example.com"
              phone: "+1234567890"
      responses:
        "201":
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"

  /api/usersBy/{id}:
    get:
      tags: [ user-controller ]
      summary: Get User by ID
      description: Fetch a specific user by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: User fetched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"

  /api/deleteUser/{id}:
    delete:
      tags: [ user-controller ]
      summary: Delete User
      description: Delete a specific user by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: User deleted successfully

  /api/updateUser:
    post:
      tags: [ user-controller ]
      summary: Update User
      description: Update a specific user by ID
      requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/UserRequest"
                  example:
                    id: 1
                    name: "John Doe"
                    email: "john.doe@example.com"
                    role: "TeamLead"
      responses:
              "200":
                description: User updated successfully
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/UserResponse"

  # Auth Controller
  /auth/register:
    post:
      tags: [ auth-controller ]
      summary: Register New User
      description: Register user with roles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
            example:
              name: "John"
              email: "john@gmail.com"
              password: "password123"
              roles: ["ROLE_USER"]
      responses:
        "201":
          description: User registered successfully

  /auth/login:
    post:
      tags: [ auth-controller ]
      summary: User Login
      description: Authenticate user & return JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
            example:
              email: "john@gmail.com"
              password: "password123"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"


components:
  schemas:
    ProductRequest:
      type: object
      required: [ name, price, description, quantity ]
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        price:
          type: number
        quantity:
          type: integer

    ProductResponse:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Laptop"
        description:
          type: string
          example: "High performance laptop"
        price:
          type: number
          example: 49999.99
        quantity:
          type: integer
          example: 10
        status:
          type: integer
          example: 200
        message:
          type: string
          example: "Success"
        messageCode:
          type: string
          example: "PROD_UPD_001"

    UserRequest:
      type: object
      required: [id ,name,email ,role ]
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        role:
          type: string

    UserResponse:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "John Doe"
        email:
          type: string
          example: "john.doe@example.com"
        role:
          type: string
          example: "TeamLead"
        status:
          type: integer
          example: 200
        message:
          type: string
          example: "Success"
        messageCode:
          type: string
          example: "USER_CREATE_001"

    RegisterRequest:
      type: object
      required: [ name, email, password, roles ]
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
          format: password
        roles:
          type: array
          items:
            type: string
            enum: [ ROLE_ADMIN, ROLE_USER ]
      example:
        name: "John"
        email: "john@gmail.com"
        password: "pass123"
        roles: [ "ROLE_USER" ]

    AuthRequest:
      type: object
      required: [ email, password ]
      properties:
        email:
          type: string
        password:
          type: string
          format: password
      example:
        email: "john@gmail.com"
        password: "pass123"

    AuthResponse:
      type: object
      properties:
        token:
          type: string
          example: "eyFakeJwtToken.abc.xyz"

