version: "3.8"

services:
  myapp:
    build: .
    image: myapp:latest
    ports:
      - "8080"
    environment:
      - SPRING_PROFILES_ACTIVE=wsl
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 20s
      retries: 3

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
       - ./nginx.conf:/etc/nginx/nginx.conf:ro

    depends_on:
      - myapp
