version: '3.8'

services:
  db:
    image: mysql:8
    container_name: mydb
    restart: always
    environment:
      MYSQL_DATABASE: testdb
      MYSQL_USER: springuser
      MYSQL_PASSWORD: springpass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5

  app:
    build: .                  # Dockerfile in current directory
    image: java-multi-env:latest
    container_name: myapp
    restart: on-failure
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/testdb
      SPRING_DATASOURCE_USERNAME: springuser
      SPRING_DATASOURCE_PASSWORD: springpass
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8081:8080"

volumes:
  db_data:
