version: '3.8'

services:
  db:
    image: mysql:8
    container_name: mydb
    environment:
      MYSQL_DATABASE: testdb
      MYSQL_USER: springuser
      MYSQL_PASSWORD: springpass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"

  app:
    image: java-multi-env:latest
    container_name: myapp
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/testdb
      SPRING_DATASOURCE_USERNAME: springuser
      SPRING_DATASOURCE_PASSWORD: springpass
    depends_on:
      - db
    ports:
      - "8080:8080"
