version: '3.8'

services:
  db:
    image: mysql:8
    container_name: mydb
    restart: always
    environment:
      MYSQL_DATABASE: testdb
      MYSQL_USER: springuser
      MYSQL_PASSWORD: springpass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    image: java-multi-env:latest
    container_name: myapp
    restart: on-failure
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/testdb
      SPRING_DATASOURCE_USERNAME: springuser
      SPRING_DATASOURCE_PASSWORD: springpass
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  db_data:
